/*@import "https://fonts.googleapis.com/css?family=Lobster";*/

@font-face {
    font-family: Lobster; /* Имя шрифта */
    src: url(../fonts/Lobster-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Bebas; /* Имя шрифта */
    src: url(../fonts/BebasNeue.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: OpenSans; /* Имя шрифта */
    src: url(../fonts/OpenSans-Regular.ttf); /* Путь к файлу со шрифтом */
}



* {
    margin: 0;
    padding: 0;
}

.page-wrapper {
    margin: 0 auto;
    max-width: 1280px;
    min-width: 970px;
    outline: 0px solid black;
    /*padding-top: 40px;*/
    background: #40c0b6;
    margin-top: 40px;
}

/* ШАПКА */

.page-header {
    box-shadow: 0 -1px 5px 0 #e1e1e1;
    background: #ffffff;
}


.page-header__toolbar {
    margin: 0 150px;
    outline: 0px solid black;
    height: 100%;
    padding: 10px 0;
}

.page-header__toolbar:before {
    content:'';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}


.page-header__logo  a {
    text-decoration: none;
    color: #3bc3b5;
    font-family: 'Lobster', cursive;
    font-size: 49px;
    font-weight: 400;
}

.page-header__logo {
    display: inline-block;
    vertical-align: middle;
    width: 27%;
    /*margin-right: 150px;*/
}

.page-header__search-form {
    display: inline-block;
    vertical-align: middle;
    /*margin-right: 170px;*/
    width: 44%;
}

.page-header__search-form input {
    max-width: 430px;
    height: 30px;
    width: 100%;
    border: 1px solid #e1e1e1;
    background: url("../images/search.png") no-repeat 98% 50%;
}


.page-header__garbage {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    width: 27%;
}

.page-header__amount {
    font-family: "Bebas";
    color:  #a1a1a1;
    font-size: 33px;
    font-weight: bold;
    margin-left: 15px;
    vertical-align: bottom;
}

.xxx {
    background: #111111;
    height: 80px;
}

.page-header__menu {
    background: #4ccfc1;
    position: relative;
    overflow: hidden;
    width: 100%;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    height: 45px;
}

.page-header__menu ul {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    float: left;
    position: relative;
    left: 50%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.page-header__menu ul li {
    float: left;
    position: relative;
    right: 50%;
    border-left: 2px solid #ffffff;
    margin: 10px 0 5px 0;
    padding: 0 20px;
}

.page-header__menu ul li:first-child {
    border: none;
}

.page-header__menu ul li a {
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-family: "Bebas";
    font-weight: 400;
    font-size: 21px;
}

/* DESCRIPTION */

.description {
    width: 100%;
    outline: 0px solid black;
    background: #40c0b6;
}

.description-item {
    position: relative;
    margin: 0 0 0 205px;
    padding: 80px 0 40px 280px;
}

.description-item__logo {
    position: absolute;
    top: 70px;
    left:0;
}

.description-item__text-block {
    padding: 20px 0 0 100px;

}

.description-item__head {
    font-family: "Bebas";
    color:  #ffffff;
    font-size: 61px;
    font-weight: 400;
    text-align: left;
    line-height: 54px;
    max-width: 310px;
}

.description-item__text {
    font-family: "OpenSans";
    color:  #ffffff;
    font-size: 17px;
    font-weight: 400;
    text-align: left;
    line-height: 28px;
    word-wrap: break-word;
    max-width: 410px;
}

.description-item__btn {
    margin-top: 30px;
}

.description-item__btn button {
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    border-color:  #ffffff;
    background-color:  rgba(255, 255, 255, 0);
    width: 139px;
    height: 46px;
    font-family: "Bebas";
    color:  #ffffff;
    font-size: 27px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 19px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
}

/* SLIDER */
.page-slider {
    width: 100%;
    text-align: center;

}

.page-slider input {
    display: none;
}

.page-slider__active label {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: background ease-in-out .5s;
    -moz-transition: background ease-in-out .5s;
    -o-transition: background ease-in-out .5s;
    transition: background ease-in-out .5s;
}

/*.page-slider__controls label:hover,*/
#slide1:checked ~ .page-slider__active label:nth-of-type(1),
#slide2:checked ~ .page-slider__active label:nth-of-type(2),
#slide3:checked ~ .page-slider__active label:nth-of-type(3),
#slide4:checked ~ .page-slider__active label:nth-of-type(4),
#slide5:checked ~ .page-slider__active label:nth-of-type(5) {
    background-color:  rgba(255, 255, 255, 0.32);
}


#slide1:checked ~ .page-slider__slider  .page-slider__slide1,
#slide2:checked ~ .page-slider__slider  .page-slider__slide2,
#slide3:checked ~ .page-slider__slider  .page-slider__slide3,
#slide4:checked ~ .page-slider__slider  .page-slider__slide4,
#slide5:checked ~ .page-slider__slider  .page-slider__slide5 {
    opacity: 1;
    z-index: 1;
}

.page-slider__controls {
    width: 100%;
    height: 88px;
    padding: 50px 0;
    background: #ffffff;
    margin-top: -190px;
}


.page-slider__controls label {
    display: none;
    width: 29px;
    height: 88px;
    opacity: 0.8;
}

.page-slider__controls label:hover {
    opacity: 1;
}


#slide1:checked ~ .page-slider__controls label:nth-child(2),
#slide2:checked ~ .page-slider__controls label:nth-child(3),
#slide3:checked ~ .page-slider__controls label:nth-child(4),
#slide4:checked ~ .page-slider__controls label:nth-child(5),
#slide5:checked ~ .page-slider__controls label:nth-child(1) {
    background: url('../images/next.png') no-repeat;
    float: right;
    display: block;
    margin: 0 30px 0 0;
}

#slide1:checked ~ .page-slider__controls label:nth-child(5),
#slide2:checked ~ .page-slider__controls label:nth-child(1),
#slide3:checked ~ .page-slider__controls label:nth-child(2),
#slide4:checked ~ .page-slider__controls label:nth-child(3),
#slide5:checked ~ .page-slider__controls label:nth-child(4) {
    background: url('../images/prev.png') no-repeat;
    float: left;
    display: block;
    margin: 0 0 0 30px;
}

.page-slider__slides {
    height: 190px;
    background: #ffffff;
    margin: 0 130px;
}

.page-slider__overflow {
    width: 100%;
    overflow: hidden;
    outline: 1px solid black;
}

.page-slider__inner {
    width: 500%;
    text-align: left;
    white-space: nowrap;
}

.page-slider__slide {
    width: 20%;
    display: inline-block;
    height:190px;
    white-space: nowrap;

}

.slide-item {
    width: 33%;
    height:190px;
    display: inline-block;
    white-space: normal;
}

#slide1:checked ~ .page-slider__slides .page-slider__inner { margin-left:0; }
#slide2:checked ~ .page-slider__slides .page-slider__inner { margin-left:-100%; }
#slide3:checked ~ .page-slider__slides .page-slider__inner { margin-left:-200%; }
#slide4:checked ~ .page-slider__slides .page-slider__inner { margin-left:-300%; }
#slide5:checked ~ .page-slider__slides .page-slider__inner { margin-left:-400%; }

.page-slider__slides .page-slider__inner {
    -webkit-transform: translateZ(0);
    -webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */

    -webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
}




